In [1]:
%cd ..

/data/home/eak/learning/llm_finetuning/specializing-llm-telecom

In [2]:
import pandas as pd
import re
import json

In [3]:
path = "data/submission/01-Phi_3_Model.csv"
submission = pd.read_csv(path)
testset = list(json.load(open("data/zindi_data/TeleQnA_testing1.json")).keys())

In [4]:
submission.sample(5)

     Question_ID  Answer_ID   Task
321          321          4  Phi-3
149          149          1  Phi-3
360          360          4  Phi-3
256          256          2  Phi-3
364          364          0  Phi-3

In [6]:
testset[0].split()[-1]

'8138'

In [7]:
submission["Answer_ID"].value_counts()

Answer_ID
0    85
2    84
1    69
3    68
4    60
Name: count, dtype: int64

In [8]:
submission["Question_ID"] = [i.split()[-1] for i in testset]

submission["Answer_ID"] = submission["Answer_ID"] + 1

In [9]:
submission.sample(5)

    Question_ID  Answer_ID   Task
28         8311          5  Phi-3
41         8363          3  Phi-3
38         8360          1  Phi-3
170        9073          3  Phi-3
152        8972          3  Phi-3

In [10]:
submission.to_csv(path.replace("submission", "submission/submitted"), index=False)